{% extends 'file_upload_task/base.html' %}
{% block content %}
<div class="container-fluid col-md-6" style="item-align: center; margin-top: 100px; border: 2px solid green; border-radius: 10px;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mt-4" style="display: flex; padding: 10px; margin-left: 100px;">
            <div class="col-md-2">{{form.file.label}}:</div>
            <div class="col-md-2">{{form.file}}</div>
        </div>
        <div style="item-align: center;">
            <button type="submit" class="btn btn-primary mt-4 mb-4" style="margin-left: 200px;">Upload</button>
        </div>
        {{form.errors}}
    </form>
</div>
{% endblock %}